<form (ngSubmit)="onSubmit()" [formGroup]="cardForm">
  <app-input
    label="Name"
    [control]="cardForm.get('cardName')"
    placeholderContent="Full name"
  ></app-input>
  <app-input
    label="Card Number"
    [control]="cardForm.get('cardNumber')"
    placeholderContent="####-####-####-####"
  ></app-input>
  <div class="columns">
    <div class="column">
      <app-input
        label="Expiration"
        [control]="cardForm.get('cardExpiration')"
        placeholderContent="MM/YY (e.g. May 2022 is 05/22)"
      ></app-input>
    </div>
    <div class="column">
      <app-input
        label="Security Code"
        [control]="cardForm.get('cardSecurityCode')"
        placeholderContent="###"
      ></app-input>
    </div>
  </div>
  <div class="buttons">
    <button
      [disabled]="cardForm.invalid"
      class="button is-primary"
      type="submit"
    >
      Submit
    </button>
    <button
      class="button is-warning"
      type="button"
      (click)="onClickReset()"
    >
      Reset
    </button>
  </div>
</form>

<hr />
<div>Value: {{ cardForm.value | json }}</div>
<div>Valid: {{ cardForm.valid }}</div>
<div>Errors: {{ cardForm.errors | json }}</div>
